.how{
    /* margin-top: 70px !important;*/
    .how-content{
        padding:0px 20px;
    }
}
p{
    text-align: justify;
}

.how-youtube{
    position: fixed !important;
    bottom:30px;
    right:30px;
}

.how-content{
    ul{
    padding-inline-start: 20px;
    }
}