.orders{
    /*margin-top:70px !important;*/
    
}
.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    color: grey;

    .icon{
        font-size: 10rem;
        opacity: 0.5;
        padding: 40px;
    }
}

.status-account{
    justify-content: center;
}

.status-account {
    .MuiAlert-message{
        text-align: center;
    }
    .MuiAlert-icon{
    display: flex;
    align-items: center;
}
}