.register-content{
    padding:15px;
}

.next-action, .back-action, .check-action{
    position: fixed !important;
    bottom: 30px;
   
    
}
.next-action, .check-action{
    right: 30px;
}
.back-action{
    right:100px;
}

.back-action,.next-action,.check-action{
    z-index:1;
}


.lookyoutube{
    margin-top:20px;
    margin-bottom: 10px;
}

.mc-container:last-child{
    margin-bottom:60px;
}

.want-delivery{
    margin: 0px 0px 10px 3px;   
}

.help-icon{
    margin-right:1rem;
}

.tutoriel-area{
    margin-bottom:10px;
}

.help-youtube{
    bottom: 100px;
    position: fixed !important;
    right: 30px;
}