.register-content{
    padding:15px;
}

.next-action, .back-action, .check-action{
    position: fixed !important;
    bottom: 30px;
   
    
}
.next-action, .check-action{
    right: 30px;
}
.back-action{
    right:100px;
}

.back-action,.next-action,.check-action{
    z-index:1;
}