.area{
    /*margin-top:70px;*/

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img{
        max-height: 150px;
        max-width: 150px;
        width:auto;
        height:auto;
        border-radius: 4px;
        border: 0px;
    }    
}

.product{
    margin-bottom: 20px;
}
.options{
    display: flex;
    flex-direction: row;
}
.options > *{
    flex:1;
}



.input-upload{
    display: none;
}

.fields{
    padding: 0px 20px;
}

.fields > div {
    margin: 7px 0px;
}